/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 380px) {
	.nav-bar{
		display: flex;
	}
	.nav-bar .logo{
		padding: 10px;
	}
	.nav-ul{
		flex-direction: column;
		display: flex;
		position: absolute;
		right: -100%;
		top: 100px;
		bottom: 0;
		background-color: #49A84E;
		height: 100%;
		width: 100%;
		z-index: 9999;
		transition: ease-in-out .2s;
	}
	.container-logo .logo img{
		width: 100px;
	}
	.nav-bar ul li a{
		color: #fff;
	}
	.container-nav-button{
		display: flex;
		justify-content: right;
	}
	.container-nav-button svg{
		width: 30px;
		cursor: pointer;
		padding: 0 40px;
	}
}
@media only screen and (min-width: 480px) {

}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:1140px) {

}
@media only screen and (max-width:1280px) {

}
@media only screen and (-webkit-max-device-pixel-ratio:1.5),
	   only screen and (max-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: #49A84E;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#49A84E;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#49A84E;
	color:#FFF;
	text-shadow:none;
}
